#photo{

    height: 95%;
    width: 16vw;

    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    right: -12vw;
    background-image: url('../../PNG/photo.png');
    background-position: center;
    background-size: cover;
    filter:  drop-shadow(0 0 3px white) drop-shadow(0 0 3px rgb(41, 89, 247));
}

@media screen and (max-width: 1080px){
    #photo{

        width: 180px;
     
    }
    
}


@media screen and (max-width: 800px){
    #photo{
        width: 150px;
        right: 4vw;
     
    }
    
}

@media screen and (max-width: 550px){
    #photo{
        width: 190px; 
    }
    
}

@media screen and (max-width: 379px){
    #photo{
        height: 80%;
        width: 150px; 
    }
    
}

@media screen and (max-width: 330px){
    #photo{
      display: none;
    }
    
}