#photo{

    width: 18vw;
    min-width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    right: -12vw;
    background-image: url('../../PNG/photo.png');
    background-position: center;
    background-size: cover;
    filter:  drop-shadow(0 0 3px white) drop-shadow(0 0 3px rgb(41, 89, 247));
}