#link-container {
    font-size: 1.2vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin: 20px 0 20px 0;
}

.link-element {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    color: white;
}

.link-element a {
    color: white;
    text-decoration: none;
}

.clickeable-element:hover>* {
    color: rgb(110, 243, 143);
}

@media screen and (max-width: 1140px) {

    #link-container {
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin: 20px 0 20px 0;
    }
}

@media screen and (max-width: 650px) {
    #link-container {
        font-size: 14px;
        margin-right: 8vw;

    }

}

@media screen and (max-width: 550px) {
    #link-container {
        font-size: 14px;
        display: block;

    }

}