#body-bontainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 12px;
    margin-left: 20px;
}
.body-module{
    margin-right: 20px;
 }

.body-module-title{
   font-size: 25px;
   font-weight: 600;
   color: var(--main-color);
   border-bottom: 2px solid var(--main-color);
}
.body-module-subtitle{
    display: block;
    margin: 5px 0 5px 0;
    font-weight: 700;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.logo-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-left: 10px;
}

.logo{
    width: 50px;
    height: 50px;
}

.body-module-text{
    text-align: justify;
    text-indent: 20px;
}

@media screen and (max-width: 555px){
    #body-bontainer{
        display: block;
        margin-top: 15px;
        margin-left: 20px;
    }
}